{% load capp_extras %}

<!-- todo: client-side validation -->

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  Errors with some values
</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group">
    <label for="{{ form.title.id_for_label }}"
           class="control-label">Title</label>
    {{ form.title|makeinput:'form-control, Enter title' }}
    {% for err in form.errors.title %}
    <span class="help-block">{{ err }}</span>
    {% endfor %}

    <!-- <input type="text" name="title" id="title" -->
    <!--        class="form-control" -->
    <!--        {% if item %} -->
    <!--        value="{{item.title}}" -->
    <!--        {% endif %} -->
    <!--        placeholder="Enter title"> -->

  </div>
  <div class="form-group">
    <label for="{{ form.description.id_for_label }}"
           class="control-label">Description</label>
    {{ form.description|makeinput:'form-control, Enter description' }}
    {% for err in form.errors.description %}
    <span class="help-block">{{ err }}</span>
    {% endfor %}

    <!-- <input type="text" name="description" id="description" -->
    <!--        class="form-control" -->
    <!--        {% if item %} -->
    <!--        value="{{item.description}}" -->
    <!--        {% endif %} -->
    <!--        placeholder="Enter description"> -->
  </div>
  <div class="form-group">
    <label for="{{ form.category.id_for_label }}"
           class="control-label">Category</label>
    {{ form.category|makeinput:'form-control' }}
    {% for err in form.errors.category %}
    <span class="help-block">{{ err }}</span>
    {% endfor %}

    <!-- <select name="category" id="category" -->
    <!--         class="form-control"> -->
    <!--   {% for category in categories %} -->
    <!--   <option value="{{category.id}}" -->
    <!--           {% if item and category.id == item.category_id %} -->
    <!--           selected="true" -->
    <!--           {% endif %} -->
    <!--           > -->
    <!--     {{category.name}} -->
    <!--   </option> -->
    <!--   {% endfor %} -->
    <!-- </select> -->

  </div>
  <!-- todo: add image field -->
  <!-- <div class="form-group"> -->
  <!--   <label for="picture">Picture</label> -->
  <!--   <input type="file" name="picture" id="picture"> -->
  <!-- </div> -->
  <button class="btn">Submit</button>
</form>
